<p><strong>Nome:</strong> <%= @name %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Email:</strong> <%= @date %></p>
<p><strong>Email:</strong> <%= @location %></p>
<p><strong>Mensagem:</strong> <%= @message %></p>
